* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family:
    Inter,
    system-ui,
    -apple-system,
    sans-serif;

  background: linear-gradient(180deg, #fdfaff 0%, #f8f6ff 100%);

  color: #2d2938;

  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
}

section {
  margin-bottom: 28px;
}

::selection {
  background: #e6ddff;
}
